<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ترم پلن</title>
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/static/css/grid.css" type="text/css" media="screen">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/static/css/summary.css" media="screen">
    <link rel="stylesheet" href="/static/css/jquery.modal.css" media="screen">

</head>

<body dir="rtl">
<div class="container">
    <div class="row" style="margin-top: 50px">
        <div class="col-md-12">
            <h2 style="text-align: center; color: black">به ترم پلن خوش آمدید</h2>
            <h4 style="text-align: center;" class="text-error">{{ message }}</h4>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form class="sign_form" method="post" action="/login/">
                {{ form.non_field_errors }}
                {% csrf_token %}
                <div class="form-group">
                    <label for="usename">نام کاربری</label>
                    {{ login_form.username }}
                </div>
                <div class="form-group">
                    <label for="password">رمز عبور</label>
                    {{ login_form.password }}
                </div>

                <button type="submit" class="btn btn-success">ورود</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>